/*
GENERALES
*/
.uppercase {
	text-transform: uppercase;
}
/*
HEADER
*/
.contTitle {
	/* width: 1200px;
	max-width: 1200px; */
	margin: auto;
	opacity: 0;
	transition: all 0.8s ease-in-out;
	position: absolute;
	width: 99%;
}

.title {
	text-align: center;
	font-size: 8rem;
	font-family: 'Anton', sans-serif;
	letter-spacing: 10px;
	margin-bottom: 0;
	color: rgb(15, 173, 212);
	text-shadow: 0 12px 10px black, 0 8px 0px #404040;
}

.show {
	transition: all 0.8s ease-in-out;
	transform: translateY(-100px);
	opacity: 1;
	/* display: block; */
}
.main {
	padding-top: 200px;
	opacity: 0;
}
.menu {
	margin-bottom: 50px;
}
.section {
	max-width: 1200px;
	width: 1200px;
	/* background-color: indigo; */
	/* height: 500px; */
	margin: auto;
}
.showMain {
	transition: all 0.5s ease-in;
	opacity: 1;
}
.itemMenu {
	list-style: none;
	margin: 20px;
}
.contMenu {
	display: flex;
	justify-content: center;
}
.linkMenu {
	padding: 10px 15px;
	color: rgb(189, 19, 127);
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
}
.linkMenu:hover {
	color: rgb(189, 19, 127);
}

/*SLIDER*/

.subTitle {
	font-family: 'Hind Siliguri', sans-serif;
	text-align: center;
	color: rgb(81, 114, 232);
	letter-spacing: 1px;
}
.txt-center {
	text-align: center;
}
.txt {
	font-family: 'Hind Siliguri', sans-serif;
	color: rgb(15, 173, 212);
}
.slider {
	position: relative;
	/* height: 1100px; */
}
.slide {
	margin-bottom: 50px;
	position: absolute;
	opacity: 0;
	display: none;
	padding-bottom: 100px;
}
.img {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}
.img img {
	width: 150px;
}
.showSlide {
	opacity: 1;
	display: block;
}
.board {
	width: 55%;
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}
.colBoard {
	width: 22%;
	height: 200px;
}
.contBoard {
	display: flex;
	justify-content: space-between;
}
.imgBoard {
	width: 40%;
}
.imgBoard img {
	width: 100%;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
.copy {
	padding: 10px;
	color: rgb(189, 19, 127);
}
.copy:hover {
	color: rgb(220, 69, 164);
}
